@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 100 900;
  src: url('/assets/fonts/PublicSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Public Sans Italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('/assets/fonts/PublicSans-Italic-VariableFont_wght.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}